@page "/playlists"
@using Microsoft.EntityFrameworkCore
@using Museek.Domain
@inject IDbContextFactory<Museek.Data.MuseekContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="playlists/create">Create New</a>
</p>

@if (playlists == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Cover Image</th>
                <th>UserId</th>
                <th>DateCreated</th>
                <th>DateUpdated</th>
                <th>CreatedBy</th>
                <th>UpdatedBy</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var playlist in playlists)
            {
                <tr>
                    <td>@playlist.Name</td>
                    <td>@playlist.Description</td>
                    <td>@playlist.Cover_Image</td>
                    <td>@playlist.UserId</td>
                    <td>@playlist.DateCreated</td>
                    <td>@playlist.DateUpdated</td>
                    <td>@playlist.CreatedBy</td>
                    <td>@playlist.UpdatedBy</td>
                    <td>
                        <a href="@($"playlists/edit?id={playlist.Id}")">Edit</a> |
                        <a href="@($"playlists/details?id={playlist.Id}")">Details</a> |
                        <a href="@($"playlists/delete?id={playlist.Id}")">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Playlist>? playlists;

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        playlists = await context.Playlist.ToListAsync();
    }
}